<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel = "stylesheet" href = "style.css">
    </head>
    <body>
        <div id = "app">
            <div class = "player">
                <h1> Player 1</h1>
                <div class = "healthbar">
                    <div class = "currentHealth" :style="{width: p1_health+'%'}">
                        <h2> {{ p1_health }}</h2>
                    </div>                    
                </div>
                <br>
                <div class = "buttons" v-if="game_started">
                    <button @click="healthDown('player2')"> attack</button>
                    <button @click = "healthUp('player1')"> heal</button>
                </div>
                
            </div>
            <div class = "player">
                <h1> Player 2</h1>
                <div class = "healthbar">
                    <div class = "currentHealth" :style="{width: p2_health+'%'}">
                        <h2> {{ p2_health}}</h2>
                    </div>
                </div>
                <br>
                <div class = "buttons" v-if="game_started">
                    <button @click = "healthDown('player1')" >attack</button>
                    <button @click = "healthUp('player2')">heal</button>
                </div>
            </div>
            <hr>
            <div id = "log" v-if="game_started">
                <ul v-for="(turn,i) in turns">
                    <li v-if="i<10" :class="{'p1turn':turn.isp1, 'p2turn':!turn.isp1}">
                        {{turn.text}}
                    </li>
                </ul>
            </div>
            <template id = "beforestart" v-if="!game_started">
                <button @click="gameStart"> Start</button>
            </template>
            <p v-if="game_over"> fuck you </p>                            
        </div>
        <script src = "vue.js"></script>
        <script src = "script.js"></script>
    </body>
</html>